html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Avenir;
  font-size: 16px;
  line-height: 1.25em;
  color: #666666; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0; }

a.settings {
  position: fixed;
  display: block;
  width: 48px;
  height: 48px;
  background: url(../img/gear.png) no-repeat 0 0;
  text-indent: -9999px;
  bottom: 10px;
  right: 10px;
  z-index: 9998; }
  a.settings:hover {
    background-position: 0 -48px; }

div.window {
  position: fixed;
  top: 20%;
  right: 0;
  left: 0;
  width: 50%;
  margin: auto;
  background: white;
  padding: 1em;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  z-index: 9999; }
  div.window h2 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 0 0 0.5em 0; }
  div.window fieldset {
    background: #fafafa;
    padding: 2em 0.5em 0.5em 0.5em;
    display: block;
    position: relative;
    margin: 0 0 1em 0; }
    div.window fieldset legend {
      display: block;
      text-transform: uppercase;
      top: 0.5em;
      position: absolute;
      font-size: 1.1em;
      padding-bottom: 5px;
      border-bottom: #dddddd solid 1px;
      right: 0.5em;
      left: 0.5em; }
  div.window .form-row {
    clear: both;
    padding: 0.5em 0;
    height: 1.5em; }
    div.window .form-row label {
      display: block;
      width: 15%;
      float: left;
      padding-top: 0.25em;
      color: #aaaaaa; }
    div.window .form-row .field {
      display: block;
      float: right;
      width: 85%;
      box-sizing: border-box; }
    div.window .form-row span.field {
      padding-top: 0.25em; }
    div.window .form-row input.field {
      outline: none;
      border: #aaaaaa solid 1px;
      padding: 0.25em;
      font-size: 1em;
      line-height: 1em;
      color: #666666; }
      div.window .form-row input.field:focus {
        border-color: #cc0000; }
  div.window .utils {
    text-align: right; }
  div.window input[type=button],
  div.window input[type=submit] {
    background: #cc0000;
    color: white;
    text-transform: uppercase;
    padding: 0.25em 0.5em;
    border: none;
    outline: none;
    font-size: 1em;
    cursor: pointer; }
